header {
    height: 50px;
    margin: 0;
    background-color: black;
  }

body {
  margin: 0
  width: 600px;
}

main {
  margin: 0 auto;
  height: 900px;
  width: 600px;
}

section.sidebar {
  height: 100%;
  width: 160px;
  background-color: blue;
  float: left;
}

section.content {
  height: 100%;
  width: 340px;
  background-color: yellow;
  float: left;
}
