header {
    height: 50px;
    margin: 0;
    background-color: black;
  }

body {
  margin: 0
  width: 600px;
}

main {
  height: 300px;
  width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: red;
  positioning: relative;
}

div.sidebar{
  height: 300px;
  width: 60px;
  background-color: blue;
  positioning: absolute;
  left: 50%;
  right: 50%;
}

div.content{
  height: 300px;
  width: 100px;
  background-color: yellow;
  positioning: absolute;
}
